.country-card-container {
    background-color: var(--background-color-lighter);
    color: var(--text-color);
    border-radius: 4px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    width: 250px;
    margin: 30px auto; /* Updated margin to center the cards */
    overflow: hidden;
    flex-basis: initial;
}
.country-card-image-container {
    height: 200px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.country-card-image-container > img {
    height: 100%;
    width: auto;
}
.country-card-container >div:nth-child(2) {
    padding: 16px;
}
.country-card-container >div >div>span:nth-child(1){
    font-weight: 600;
}
.country-card-container >div >div>span:nth-child(2){
}
.country-card-container >div >div:not(:first-child){
    margin-bottom: 3px;
    font-size: 14px;
}
.country-card-name{
    font-weight: 800;
    margin-bottom: 10px;
}
