:root {
  --dark-blue: hsl(209, 23%, 22%);
  --very-dark-blue: hsl(207, 26%, 17%);
  --very-dark-blue-light-text: hsl(200, 15%, 8%);
  --dark-gray: hsl(0, 0%, 52%);
  --very-light-gray: hsl(0, 0%, 98%);
  --white: hsl(0, 0%, 100%);

  --background-color: var(--very-light-gray);
  --background-color-lighter: var(--white);
  --text-color: var(--very-dark-blue-light-text);
}
[data-theme="dark"] {
  --background-color: var(--very-dark-blue);
  --background-color-lighter: var(--dark-blue);
  --text-color: var(--very-light-gray);
}
* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html,
body {
  background-color: var(--background-color);
  max-width: 100vw;
  font-family: 'Nunito Sans', sans-serif;
}
body.light {
  background-color: var(--very-light-gray);
}

body.dark {
  background-color: var(--very-dark-blue);
}

a {
  color: inherit;
  text-decoration: none;
}

