.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 25px 70px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.header span {
    font-size: 1.5rem;
    font-weight: 800;
}

.header button {
    background-color: transparent;
    border: none;
    cursor: pointer;
    font-size: 1rem;
    font-weight: 600;
    transition: color 0.2s ease-in-out;
}

@media (max-width: 460px) {
    .header span {
        font-size: 1.2rem;
    }
    .header button {
        font-size: 0.9rem;
    }
}
