.country-home {
    padding: 40px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.search-container {
    width: 100%;
    margin: 0 40px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
}

.search-input-container {
    position: relative;
    margin-bottom: 20px;
}

.search-input {
    padding: 15px 40px 15px 50px;
    border: none !important;
    border-radius: 5px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
    margin-right: 20px;
    width: 400px;
    font-size: 16px;
}

.search-icon {
    position: absolute;
    top: 50%;
    left: 10px;
    transform: translateY(-50%);
    color: #333;
}

.select-container {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 20px;
}

.select {
    padding: 15px 20px;
    border: none;
    font-size: 14px;
    border-radius: 5px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
    margin-right: 20px;
}

.country-card-container {
    display: flex;
    flex-wrap: wrap;
    padding: 0;
    justify-content: space-between;
    gap: 30px;
}
@media (max-width: 660px) {
    .country-card-container {
        justify-content: center;
    }
}
